<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.shouduo.plant">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".PlanT"
        android:label="PlanT"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/GeometricWeatherTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="PlanT"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.SettingsActivity">
        </activity>
    </application>

</manifest>